.person-group {
  overflow: hidden;
  max-height: 10000px;
  transition: max-height 1s ease-in-out;
}

.person-group[aria-expanded="false"] {
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

// .person-game-list {
//   list-style: none;
// }

.person-image-caption {
  width: 500px;
}